src/main/webapp/WEB-INF/schema/context.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="punctuation" type="xs:string"/>

    <xs:element name="item">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="punctuation" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="required"/>
            <xs:attribute type="xs:string" name="location" use="required"/>
            <xs:attribute type="xs:string" name="preceding" use="required"/>
            <xs:attribute type="xs:string" name="following" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="sublist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="key" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="kwiclist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="sublist" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
