src/main/webapp/WEB-INF/schema/context.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="punctuation">
        <xs:restriction base="xs:token">
            <xs:pattern value="\p{P}{1,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="punctuationType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="init"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="speechType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="direct"/>
            <xs:enumeration value="indirect"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="punctuation">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="punctuation">
                    <xs:attribute type="punctuationType" name="type" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="string" type="trimmedString"/>

    <xs:simpleType name="itemLocation">
        <xs:restriction base="xs:token">
            <xs:pattern value="[^_]+_\d{5}(_\d{2})?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="itemType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="seg_item"/>
            <xs:enumeration value="rubric_item"/>
            <xs:enumeration value="verse_item"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="number">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="singleBlankString">
        <xs:restriction base="xs:string">
            <xs:pattern value="\S*( \S+)* ?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attributeGroup name="itemAttributes">
        <xs:attribute type="singleBlankString" name="following" use="required"/>
        <xs:attribute type="itemLocation" name="location" use="required"/>
        <xs:attribute type="number" name="n" use="required"/>
        <xs:attribute type="singleBlankString" name="preceding" use="required"/>
        <xs:attribute type="itemType" name="type" use="required"/>
        <xs:attribute type="speechType" name="sp" use="required"/>
    </xs:attributeGroup>

    <xs:element name="item">
        <xs:complexType>
            <xs:choice maxOccurs="3" minOccurs="1">
                <xs:element ref="punctuation" maxOccurs="2" minOccurs="0"/>
                <xs:element ref="string"/>
            </xs:choice>
            <xs:attributeGroup ref="itemAttributes"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="trimmedString">
        <xs:restriction base="xs:string">
            <xs:pattern value="\S+( \S+)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="sublist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="trimmedString" name="key" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="kwiclist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="sublist" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
